// fonts
$reg: "Quicksand-Regular";
$med: "Quicksand-Medium";
$bold: "Quicksand-Bold";
$icons: 'Linearicons-Free';
// colors
$bg: #0c31bc;
$blue: #0674ec;
$grey: #eef1f3;
$purple: #7347c1;
$yellow: #feb71d;
$green: #77de51;
$lightblue: #58c9e9;
$red: #ff6a6d;