// fonts
$reg: "Quicksand-Regular",
sans-serif;
$med: "Quicksand-Medium",
sans-serif;
$bold: "Quicksand-Bold",
sans-serif;
$icons: "Linearicons-Free",
sans-serif;
// colors
$blue: #0674ec;
$grey: #eef1f3;
$purple: #7347c1;
$yellow: #feb71d;
$green: #77de51;
$lightblue: #58c9e9;
$red: #ff6a6d;