@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
    background-color: $grey;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__btn {
    min-width: 140px;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    background-color: $blue;
    padding: 4px 18px;
    border-radius: 18px;
    margin-right: 50px;
    text-align: center;
}

.alarm,
.envelope,
.cart {
    font-family: $icons;
    margin-right: 33px;
    font-size: 20px;
    color: #7e8fa1;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7c7979;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    margin-left: 15px;
}

.header__user {
    display: flex;
    align-items: center;

    &-name {
        display: block;
        font-family: $med;
        max-width: 200px;
    }

    &-box {
        line-height: 22px;
    }

    &-balance {
        color: $blue;
        font-size: 15px;
        max-width: 110px;
    }
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 32px;
        }
    }

    a {
        font-family: $med;
        font-size: 15px;
        line-height: 42px;
        color: #333;
        text-transform: uppercase;
    }

}

.header__menu-search {
    min-width: 360px;
    position: relative;

    input {
        display: block;
        width: 100%;
        border-radius: 36px;
        border: 1px solid #d9dfe5;
        height: 45px;
        padding: 15px 85px 15px 24px;
        font-size: 15px;
        outline: none;

        &::placeholder {
            color: #898f96;
        }
    }

    button {
        font-family: $icons;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: $blue;
        border-radius: 22px;
        width: 70px;
        height: 45px;
        color: #fff;
        cursor: pointer;
    }
}

// end header
// start search

.search {
    background: linear-gradient(left, rgb(45, 80, 209) 0%, rgb(9, 47, 186) 100%, rgb(9, 47, 186) 100%);
    text-align: center;
    padding: 183px 0 235px;
    position: relative;
    margin-bottom: 185px;

    &__title {
        font-size: 60px;
        line-height: 70px;
        color: #f3f3f8;
        margin-bottom: 30px;

        span {
            display: block;
            font-family: $bold;
        }
    }

    &__text {
        font-family: $med;
        font-size: 20px;
        color: #f3f3f8;
        margin-bottom: 65px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        &-btn {
            display: block;
            min-width: 190px;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 36px;
            padding: 12px 30px;
            transition: all .3s;

            &+& {
                margin-left: 30px;
            }

            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }

    }

    &__form {
        max-width: 1140px;
        padding: 40px;
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        bottom: -67px;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

        form {
            display: flex;
            align-items: center;
        }

        input {
            display: block;
            width: 613px;
            height: 55px;
            padding: 19px 28px;
            border-radius: 3px 0 0 3px;
            border: 1px solid #dcdcdc;
            border-right: none;
            outline: none;
        }

        select {
            display: block;
            padding-left: 20px;
            width: 193px;
            height: 55px;
            color: #555555;
            border: 1px solid #dcdcdc;
            border-radius: 0 3px 3px 0;
            outline: none;
            margin-right: 30px;
            appearance: none;
            position: relative;
        }

        button {
            display: block;
            min-width: 223px;
            color: #fff;
            height: 55px;
            border: none;
            background-color: $blue;
            border-radius: 3px;
        }
    }
}

// end search
// start features

.features__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__item {
    max-width: 362px;
    text-align: center;
    padding: 40px 35px 45px 35px;
    margin-bottom: 115px;

    &-img {
        display: inline-block;
        width: 112px;
        height: 113px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 35px;
    }

    &-title {
        font-size: 24px;
        color: #000;
        margin-bottom: 30px;
    }

    &-center {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }
}

// end features

// start weekly-products

.weekly-products {
    background-color: $grey;
    padding: 120px 0;
    position: relative;

    &__title {
        font-size: 30px;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        padding: 40px 0 40px 30px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 45px;
    }

    &__slider {
        .slick-arrow {
            position: absolute;
            border: none;
            background-color: transparent;
            color: #fff;
            width: 55px;
            height: 45px;
            background-color: $purple;
            outline: none;
            cursor: pointer;
        }

        .slick-prev {
            top: -125px;
            right: 87px;
            border-radius: 30px 0 0 30px;
        }

        .slick-next {
            top: -125px;
            right: 42px;
            border-radius: 0 30px 30px 0;
        }
    }

}

.slider-item {
    display: flex;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    border-radius: 4px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        display: block;
        width: 555px;
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    &__content {
        max-width: 585px;
        background-color: #fff;
        padding: 45px 60px 25px 50px;
    }

    &__title {
        font-size: 24px;
        font-family: $med;
        color: #000;
        margin-bottom: 10px;
    }

    &__caption {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }







    &__text {
        margin-bottom: 30px;
    }

    &__tags {
        display: flex;
        margin-bottom: 44px;

        a {
            display: inline-block;
            font-size: 15px;
            color: #868c96;
            background-color: #f1f3f6;
            border-radius: 14px;
            padding: 0 17px;
        }

        a+a {
            margin-left: 7px;
        }
    }

    &__line {
        height: 1px;
        background-color: #ececec;
        margin-bottom: 23px;
    }

    &__bottom {
        display: flex;
        font-size: 15px;
    }

    &__price {
        font-family: $med;
        color: #fff;
        background-color: $blue;
        padding: 0 18px;
        border-radius: 14px;
        margin-right: 19px;
    }

    &__like {
        padding-left: 26px;
        position: relative;
        margin-right: 19px;


        &::before {
            font-family: $icons;
            content: '\e813';
            color: $purple;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    &__orders {
        padding-left: 23px;
        color: $blue;
        position: relative;

        &::before {
            font-family: $icons;
            content: '\e82e';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

// end weekly-products
// start newest-products

.newest-products {
    background-color: #f6f7fb;
    padding: 120px 0;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 30px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        margin-bottom: 30px;

        &-text {
            font-size: 30px;
            color: #000;
        }

        &-filter {
            color: #747b86;
            padding-right: 30px;
            display: flex;
            position: relative;
        }

        &-dots {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;

            div {
                width: 5px;
                height: 5px;
                background-color: #a3b1c4;
                border-radius: 50%;
                margin-left: 25px;
            }

            div+div {
                margin-top: 4px;
            }
        }
    }

    &__inner-btn {
        padding: 30px 30px;
        margin-bottom: 50px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        background-color: #fff;
        display: flex;

        button {
            display: block;
            border: none;
            background-color: #f1f3f6;
            padding: 7px 21px;
            border-radius: 20px;
            font-size: 15px;
            outline: none;
            cursor: pointer;

            &+button {
                margin-left: 10px;
            }

            &.mixitup-control-active {
                color: #fff;
                background-color: $blue;
            }
        }
    }

    &__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    &__item {
        max-width: 360px;
        margin-bottom: 30px;
    }

    &__item-img {
        min-height: 230px;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item-btn {
        font-family: $med;
        font-size: 15px;
        color: #fff;
        padding: 7px 30px;
        border: 1px solid #fff;
        border-radius: 22px;
        transition: all .3s;

        &+& {
            margin-left: 10px;
        }

        &:hover {
            color: $blue;
            background-color: #fff;
        }
    }

    &__item-content {
        background-color: #fff;
        padding-top: 25px;
        padding-left: 30px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
    }

    &__item-title {
        font-family: $med;
        font-size: 20px;
        color: #000;
        margin-bottom: 10px;
    }

    &__item-caption {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__item-text {
        margin-bottom: 25px;
    }

    &__item-bottom {
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px 15px 0;
    }

    &__item-bottom-left {
        display: flex;
        align-items: center;
    }

    &__item-price {
        font-family: $med;
        font-size: 15px;
        margin-right: 10px;
        background-color: #e6f1fd;
        color: $blue;
        padding: 5px 25px;
        border-radius: 20px;
    }

    &__item-like {
        font-size: 15px;
        position: relative;
        padding-left: 22px;

        &::before {
            font-family: $icons;
            content: '\e813';
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__item-orders {
        font-size: 15px;
        color: $blue;
        position: relative;
        padding-left: 25px;

        &::before {
            font-family: $icons;
            content: '\e82e';
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__bottom-btn {
        text-align: center;

        button {
            border: none;
            color: #fff;
            background-color: $blue;
            padding: 22px 33px;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
        }
    }
}


// end newest-products