@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
    background-color: $grey;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__btn {
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    background-color: $blue;
    padding: 4px 18px;
    border-radius: 18px;
    margin-right: 50px;
}

.alarm,
.envelope,
.cart {
    font-family: $icons;
    margin-right: 33px;
    font-size: 20px;
    color: #7e8fa1;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7c7979;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    margin-left: 15px;
}

.header__user {
    display: flex;
    align-items: center;

    &-name {
        display: block;
        font-family: $med;
        max-width: 200px;
    }

    &-box {
        line-height: 22px;
    }

    &-balance {
        color: $blue;
        font-size: 15px;
        max-width: 110px;
    }
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 32px;
        }
    }

    a {
        font-family: $med;
        font-size: 15px;
        line-height: 42px;
        color: #333;
        text-transform: uppercase;
    }

}

.header__menu-search {
    min-width: 360px;
    position: relative;

    input {
        display: block;
        width: 100%;
        border-radius: 36px;
        border: 1px solid #d9dfe5;
        height: 45px;
        padding: 15px 85px 15px 24px;
        font-size: 15px;
        outline: none;

        &::placeholder {
            color: #898f96;
        }
    }

    button {
        font-family: $icons;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: $blue;
        border-radius: 22px;
        width: 70px;
        height: 45px;
        color: #fff;
        cursor: pointer;
    }
}

// end header